<div class="bana-ulas" style="background-color: whitesmoke;">
<div class="col-lg-12 col-md-12 text-center" ng-app="" 
ng-init="firstName='Süleyman Türker';
         lastName='Güner';
         place='Türkiye';
         profession='Web Developer';
         company='Talya Bilişim';
         message='I am a Web Developer, working in Talya Bilişim.';
         email='gunersuleymanturker@gmail.com'">
         <div style="font-family: 'Lobster', cursive;">
          <h1>Bana Ulaş</h1>
      </div>
</div>
<div class="row" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-lg-6 col-md-6 col-sm-6 topgap">

    <table width="100%">
      <tr>
        <td>
            <label for="firstName">Ad:</label>
            <input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="Adınızı giriniz" ng-model="firstName" required/>
        </td>
        <td>
            <label for="lastName">Soyad:</label>
            <input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="Soyadınızı giriniz" ng-model="lastName" required/>
        </td>
      </tr>
      
      <tr>
        <td>
            <label for="email">Eposta:</label>
            <input type="email" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="Eposta giriniz" ng-model="email" required/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
            <label for="message">Message:</label>
            <textarea class="form-control" style="resize: none;" rows="5" id="message" ng-model="message"></textarea>
        </td>
      </tr>
    </table>
    
    <button type="button" class="btn btn-danger btn-block buttonSubmit">WHAT DOES THIS BUTTON DO??</button>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="paper">
          <div class="lines">
            <div class="Lettertext" spellcheck="false">
              Selam, <br /><br />
              Ben {{ firstName+" "+lastName }}. 
              <br/><br/>
              {{message}}
              <br/><br />
              Bana bu mailden ulaşabilirsin: {{email}}.
              <br/><br/>
              Görüşmek üzere,<p>{{ firstName+" "+lastName }}
            </div>
          </div>
        </div>
    </div>
</div>
</div>