
<header>

    <div class="navbar-container">
        <nav class="navbar">
            <a href="#" class="logo">STG</a>
            <ul class="nav-links">
                <li><a href="#hakkimda">Hakkımda</a></li>
                <li><a href="#projelerim">Projelerim</a></li>
                <li><a href="#bana-ulas">Bana Ulaş</a></li>
                <!-- <button>Sign In</button> -->
                <!-- <button>Sign Up</button> -->
            </ul>
        </nav>
        <section class="showcase">
            <div class="row">
                <div class="col-12">
                  <div class="col-12">
                    <div class="hakkimda">
                      <div class="karsilama">
                        <div class="karsilama_yazi">
                          <h1 class="karsilama_h1">Merhaba, ben <span style="color: orange;">Süleyman Türker Güner</span></h1>
                          <p class="karsilama_p">Web Geliştirici</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 ilk-col text-center">
                  <h1>Ben Kimim?</h1>
                  <p>Web geliştirmeyle ilgilenen ve bundan keyif alan biriyim</p>
                  <p>Akdeniz Bilgisayar Mühendisliği bölümü son sınıf öğrencisiyim. Benim hakkımda daha fazla öğrenmek için butona tıkla </p>
                  <button>Daha Fazla</button>
              </div>
            </div>
        </section>
    </div>

    <div class="video-container">
        <video src="../../assets/videos/hakkimda.mp4" autoplay playsinline loop muted width="100%"></video>
    </div>

</header>