@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body{
    margin: 0;
    overflow-x: hidden;
}

header{
    min-height: 100vh;
    position: relative;
    .navbar-container{
        max-width: 1368px;
        margin: 0 auto;
        padding: 1rem 2rem;
        .navbar{
            min-height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                font-size: 2.25rem;
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
                font-weight: 700;
            }
            .nav-links{
                display: flex;
                align-items: center;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: #fff;
                        margin: 0 1.25rem;
                        font-weight: 500;
                        font-size: 1.05rem;
                        position: relative;
                        &::after{
                            position: absolute;
                            content: '';
                            background-color: #fff;
                            bottom: -5px;
                            left: 0;
                            width: 0%;
                            height: 3px;
                            transition: 0.3s ease all;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                    }
                }
                button{
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 0.75rem 1rem;
                    margin: 0 1rem;
                    border-radius: 6px;
                    background: transparent;
                    border: 2px solid #fff;
                    color: #fff;
                    font-weight: 500;
                }
            }
            i{
                display: none;
                color: #fff;
                cursor: pointer;
            }
        }
        .showcase{
            min-height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .ilk-col{
                margin: 90px auto auto;
            }
            h1{
                color: #fff;
                font-size: 2.5rem;
                margin-bottom: 0;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            p{
                margin-top: 0;
                color: #fff;
                font-weight: 500;
                line-height: 1.4;
                font-size: 0.9rem;
            }
            button{
                margin-top: 1rem;
                background-color: #000;
                color: #fff;
                border: none;
                outline: none;
                padding: 1rem 1.5rem;
                font-size: 0.9rem;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }
    .video-container{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        video{
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 1;
        }
        &::after{
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,1);
        }
    }
}

@media(max-width: 850px){
    header{
        .navbar-container{
            .showcase{
                a {
                    text-decoration: none;
                        color: #fff;
                        margin: 0 8px;
                        font-weight: 500;
                        font-size: 12px;
                        position: relative;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                text-align: center;
                h1{
                    font-size: 2.25rem;
                }
                .row{
                    display: flex;
                    flex-direction: column;
                }
                .ilk-col{
                    margin-top: 0px;
                }
            }
        }
    }   
}

@media(max-width: 500px){
    header{
        .navbar-container{
            .showcase{
              h1{
                font-size: 2.1rem;
              }
              p{
                font-size: 0.85rem;
              }
            }
        }
    }   
}

.hakkimda {
    width: 100%;
    height: 600px;
    background: none;
    display: inline-block;
}

.karsilama {
    width: 60%;
    height: 350px;
    background-color: rgb(224, 224, 224, 0.1);
    border-radius: 3px;
    margin: 90px auto auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
    padding: 20px 40px;
}



.karsilama_yazi {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.karsilama h1 {
    font-size: 50px;
    color: white;
}	


@media only screen and (max-width: 400px){
    
}

@media only screen and (max-width: 600px) {
    .karsilama {
        width: 90%;
        padding: 10px 5px;
        height: 280px;
    }
    .hakkimda{
        height: 500px;
    }
}

@media only screen and (max-width: 800px){
    .karsilama_pp {
        width: 128px;
        height: 128px;
    }
}

@media only screen and (max-width: 1000px){
    .karsilama_pp {
        top: 15px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

    .border {
        height: 369px;
        width: 290px;
        background: transparent;
        border-radius: 10px;
        transition: border 1s;
        position: relative;
      }
      .border:hover {
        border: 1px solid #fff;
      }
      .card {
        height: 379px;
        width: 300px;
        background: #808080;
        border-radius: 10px;
        transition: background 0.8s;
        overflow: hidden;
        background: #000;
        box-shadow: 0 70px 63px -60px #000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      .card0 {
        border-radius: 2%;
        background-color: rgb(208, 240, 255, 0.4);
        box-shadow: 0px 10px 30px rgba(255, 255, 255, 2);
        position: absolute;
        transition: all 1s ease 0s;
        background: url("../../assets/img/PP_cv_small.jpg") center center no-repeat;
        background-size: 300px;
      }
      .card0:hover {
        background: url("../../assets/img/PP_cv_small.jpg") left center no-repeat;
        background-size: 600px;
      }
      .card0:hover h2 {
        opacity: 1;
      }
      .card0:hover .fa {
        opacity: 1;
      }
      h2 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #fff;
        margin: 20px;
        opacity: 0;
        transition: opacity 1s;
      }
      .fa {
        opacity: 0;
        transition: opacity 1s;
      }
      .icons {
        position: absolute;
        fill: #fff;
        color: #fff;
        height: 130px;
        top: 226px;
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }