
<div class="ben_kimim_container">
  <div class="w-100 text-center">
    <h1>Ben Kimim?</h1>
  </div>
<div class="ben_kimim_content">
  <div class="row">
    <div class="col-md-4" id="profil_fotografi">
      <div class="card card0 my-auto">
        <div class="border">
          <h2 style="color: black; font-family: 'Lobster', cursive;">Süleyman Türker Güner</h2>
          <div class="icons">
            <a style="color:black; font-size: 20px;" href="https://github.com/stguner"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a style="color:black; font-size: 20px;" href="https://www.instagram.com/stg_0/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a style="color:black; font-size: 20px;" href="https://www.linkedin.com/in/stguner/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a style="color:black; font-size: 20px;" href="https://twitter.com/stguner0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a style="color:black; font-size: 20px;" href="https://wa.me/+905542071777"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="baslik text-center w-100">
        Ben Kimim?
      </div>
      <div class="hakkimda_yazilacaklar w-100">
        Ben Süleyman Türker Güner, 2000 yılında Antalya'da doğdum.
      </div>
    </div>
  </div>
</div>
</div>