<div id="projelerim" class="container" style="background-color: rgb(46, 46, 46);">
  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Müşteri Yönetim Sistemi">Müşteri Yönetim Sistemi</label>
    <div class="panel">
      <div class="ring">
        <div class="card card1"></div>
        <div class="border">
          <p class="title">Müşteri Yönetim Sistemi</p>
          <div class="slide">
            <h6 class="para">Sınıf arkadaşımla bitirme projesinde SBE Mühendislik firması için yaptığımız müşteri yönetim sistemi uygulaması.</h6>
            <div class="line" style="cursor: pointer;">
              <a href="https://play.unity.com/mg/other/red-prince-studio-final-game-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
              <a href="http://3.76.192.165/giris_yap" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-link" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="'Rush' Platform Oyunu">'Rush' Platform Oyunu</label>
    <div class="panel">
      <div class="ring">
        <div class="card card2"></div>
        <div class="border">
          <p class="title">Rush</p>
          <div class="slide">
            <h6 class="para">Game Programming dersi için Unity ile geliştirdiğimiz platform oyunu projesi</h6>
            <div class="line">
              <a href="https://github.com/berksaygu/in-a-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
              <a href="https://play.unity.com/mg/other/red-prince-studio-final-game-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-link" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Araba Kiralama Sistemi">Araba Kiralama Sistemi</label>
    <div class="panel">
      <div class="ring">
        <div class="card card3"></div>
        <div class="border">
          <p class="title">Araba Kiralama Sistemi</p>
          <div class="slide">
            <h6 class="para">Akdeniz Üniversitesi Web Programming dersi için geliştirdiğim araba kiralama uygulaması</h6>
            <div class="line">
              <a href="https://github.com/stguner/CarRental" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Unity FPS Oyunu">Unity FPS Oyunu</label>
    <div class="panel">
      <div class="ring">
        <div class="card card4"></div>
        <div class="border">
          <p class="title">Unity FPS Oyunu</p>
          <div class="slide">
            <h6 class="para">Akdeniz Üniversitesi Game Programming dersi için geliştirdiğimiz Counter Strike Pool Haritası benzeri FPS oyunu</h6>
            <div class="line">
              <a href="https://play.unity.com/mg/other/red-prince-studio-first-fps-game" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-link" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="projelerim" class="container" style="background-color: rgb(46, 46, 46);">
  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Smart Legacy Akıllı Kontrakt Projesi">'Smart Legacy' Akıllı Kontrakt Projesi</label>
    <div class="panel mx-auto">
      <div class="ring">
        <div class="card card5"></div>
        <div class="border">
          <p class="title">Smart Legacy</p>
          <div class="slide">
            <h6 class="para">Akdeniz Üniversitesi Introduction to Blockchain dersi için hazırladığımız, kripto paraların veraset sistemi ile aktarılmasına yönelik akıllı sözleşme uygulaması</h6>
            <div class="line" style="cursor: pointer;">
              <a href="https://play.unity.com/mg/other/red-prince-studio-final-game-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
              <a href="http://3.76.192.165/giris_yap" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-link" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Müşteri Yönetim Sistemi">Varlık Tanılama Blockzinciri Projesi</label>
    <div class="panel mx-auto">
      <div class="ring">
        <div class="card card6"></div>
        <div class="border">
          <p class="title">Varlık Tanılama</p>
          <div class="slide">
            <h6 class="para">Game Programming dersi için Unity ile geliştirdiğimiz platform oyunu projesi</h6>
            <div class="line">
              <a href="https://github.com/berksaygu/in-a-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
              <a href="https://play.unity.com/mg/other/red-prince-studio-final-game-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-link" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



