<div id="projelerim" class="container" style="background-color: rgb(46, 46, 46);">
  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Müşteri Yönetim Sistemi">Müşteri Yönetim Sistemi</label>
    <div class="panel">
      <div class="ring">
        <div class="card card1"></div>
        <div class="border">
          <p class="title">Müşteri Yönetim Sistemi</p>
          <div class="slide">
            <h6 class="para">Sınıf arkadaşımla bitirme projesinde SBE Mühendislik firması için yaptığımız müşteri yönetim sistemi uygulaması.</h6>
            <div class="line" style="cursor: pointer;">
              <a href="https://play.unity.com/mg/other/red-prince-studio-final-game-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
              <i style="margin-left: 5px;" class="fa fa-link" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Müşteri Yönetim Sistemi">'Rush' Platform Oyunu</label>
    <div class="panel">
      <div class="ring">
        <div class="card card2"></div>
        <div class="border">
          <p class="title">Rush</p>
          <div class="slide">
            <h6 class="para">Game Programming dersi için Unity ile geliştirdiğimiz platform oyunu projesi</h6>
            <div class="line">
              <i class="font-size:20px;" class="fa fa-github" aria-hidden="true"></i>
              <a style="height: 20px; color: white;" href="https://play.unity.com/mg/other/red-prince-studio-final-game-rush"  target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Müşteri Yönetim Sistemi">Araba Kiralama Sistemi</label>
    <div class="panel">
      <div class="ring">
        <div class="card card3"></div>
        <div class="border">
          <p class="title">Araba Kiralama Sistemi</p>
          <div class="slide">
            <h6 class="para">Latest Deals from Heathrow</h6>
            <div class="line">
              <h6 class="para">OUT</h6> <i class="fa fa-plane" aria-hidden="true"></i>
              <h6 class="para">£399</h6>

            </div>
            <div class="line">
              <h6 class="para">RTN</h6> <i class="fa fa-plane" aria-hidden="true"></i>
              <h6 class="para">£257</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine">
    <div class="panel">
      <div class="ring">
        <div class="card card4"></div>
        <div class="border">
          <p class="title">Belize</p>
          <div class="slide">
            <h6 class="para">Latest Deals from Heathrow</h6>
            <div class="line">
              <h6 class="para">OUT</h6> <i class="fa fa-plane" aria-hidden="true"></i>
              <h6 class="para">£999</h6>
            </div>
            <div class="line">
              <h6 class="para">RTN</h6> <i class="fa fa-plane" aria-hidden="true"></i>
              <h6 class="para">£745</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

