

<div id="projelerim" class="container">
  <div class="w-100 text-center">
    <h1>PROJELERİM</h1>
  </div>
  <div class="corousel_wrapper" style="justify-content: flex-end;
  align-items: center;
  margin-top: 5em;
  display: flex;
  overflow: hidden; max-width: 100%;">
    <div class="projelerim_corousel" style="    grid-column-gap: 5em;
    flex: none;
    justify-content: flex-end;
    align-items: center;
    display: flex; ">
    <div class="projelerim" style="grid-column-gap: 5em;
    align-items: flex-start;
    display: flex;">
      <div class="card">Birinci Proje</div>
      <div class="card">İkinci Proje</div>
      <div class="card">Üçüncü Proje</div>
      <div class="card">Dönrdüncü Proje</div>
      <div class="card card1"></div>
    </div>
    <div class="projelerim" style="grid-column-gap: 5em;
    align-items: flex-start;
    display: flex;">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card card1"></div>
    </div>
    <div class="projelerim" style="grid-column-gap: 5em;
    align-items: flex-start;
    display: flex;">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card card1"></div>
    </div>
  </div>
  </div>
  
  <div style="width: 80%;
  height: 350px;
  background-color: rgb(224, 224, 224, 0.1);
  border-radius: 3px;
  margin: 90px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
  padding: 20px 40px;
  min-width: 300px;
  border-radius: 10%;">
    <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine" class="text-center">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Müşteri Yönetim Sistemi">Müşteri Yönetim Sistemi</label>
    <div class="panel mx-auto">
      <div class="ring">
        <div class="card card1"></div>
        <div class="border">
          <p class="title">Müşteri Yönetim Sistemi</p>
          <div class="slide">
            <h6 class="para">Sınıf arkadaşımla bitirme projesinde SBE Mühendislik firması için yaptığımız müşteri yönetim sistemi uygulaması.</h6>
            <div class="line" style="cursor: pointer;">
              <a href="https://play.unity.com/mg/other/red-prince-studio-final-game-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
              <a href="http://3.76.192.165/giris_yap" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-link" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <!-- <div class="col-4">

  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine" class="text-center">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="'Rush' Platform Oyunu">'Rush' Platform Oyunu</label>
    <div class="panel mx-auto">
      <div class="ring">
        <div class="card card2"></div>
        <div class="border">
          <p class="title">Rush</p>
          <div class="slide">
            <h6 class="para">Game Programming dersi için Unity ile geliştirdiğimiz platform oyunu projesi</h6>
            <div class="line">
              <a href="https://github.com/berksaygu/in-a-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
              <a href="https://play.unity.com/mg/other/red-prince-studio-final-game-rush" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-link" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-4">
  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine" class="text-center">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Araba Kiralama Sistemi">Araba Kiralama Sistemi</label>
    <div class="panel mx-auto">
      <div class="ring">
        <div class="card card3"></div>
        <div class="border">
          <p class="title">Araba Kiralama Sistemi</p>
          <div class="slide">
            <h6 class="para">Akdeniz Üniversitesi Web Programming dersi için geliştirdiğim araba kiralama uygulaması</h6>
            <div class="line">
              <a href="https://github.com/stguner/CarRental" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-4">
  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine" class="text-center">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Unity FPS Oyunu">Unity FPS Oyunu</label>
    <div class="panel mx-auto">
      <div class="ring">
        <div class="card card4"></div>
        <div class="border">
          <p class="title">Unity FPS Oyunu</p>
          <div class="slide">
            <h6 class="para">Akdeniz Üniversitesi Game Programming dersi için geliştirdiğimiz Counter Strike Pool Haritası benzeri FPS oyunu</h6>
            <div class="line">
              <a href="https://play.unity.com/mg/other/red-prince-studio-first-fps-game" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-link" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-4">
<div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine" class="text-center">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Smart Legacy Akıllı Kontrakt Projesi">'Smart Legacy' Akıllı Kontrakt Projesi</label>
    <div class="panel mx-auto">
      <div class="ring">
        <div class="card card5"></div>
        <div class="border">
          <p class="title">Smart Legacy</p>
          <div class="slide">
            <h6 class="para">Akdeniz Üniversitesi Introduction to Blockchain dersi için hazırladığımız, kripto paraların veraset sistemi ile aktarılmasına yönelik akıllı sözleşme uygulaması</h6>
            <div class="line" style="cursor: pointer;">
              <a href="https://github.com/berksaygu/SmartLegacy" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-4">
  <div data-aos="fade-up"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine" class="text-center">
     <label style="color:whitesmoke; font-size: 20px; font-family: 'Lobster', cursive;" for="Müşteri Yönetim Sistemi">Varlık Tanılama Blockzinciri Projesi</label>
    <div class="panel mx-auto">
      <div class="ring">
        <div class="card card6"></div>
        <div class="border">
          <p class="title">Varlık Tanılama</p>
          <div class="slide">
            <h6 class="para">Akdeniz Üniversitesi Introduction to Blockchain dersi için hazırladığımız, dijital varlıkların sahiplenilmesine yönelik blokzinciri uygulaması</h6>
            <div class="line">
              <a href="https://github.com/UfukIncik/ARTCOIN" style="color:white; text-decoration: none;z-index: 2;" target="_blank" class="fa fa-github" rel="noopener noreferrer"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
  <div class="video-container2">
    <video src="../../assets/videos/projects.mp4" autoplay playsinline loop muted width="100%"></video>
  </div>
</div>





